header {
  padding: 0;
  margin: 0;
  background: #F9F9F9;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;

}

ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;
  border: solid 1px #185ADB;
  background: #185ADB;
  text-decoration: none;
  color: white;
  padding: 7px;
  border-radius: 5px;
  float: right;
  margin-right: 80px;
  margin-top: 12px;
  margin-bottom: 5px;
  width: 60px;
  text-align: center;

}
