.testimonials {
  background: #F9F9F9;
  height: 400px;
}

.testimonials .avatar {
  // background: #F9F9F9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


.testimonials .avatar img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 5px;
}
